.container {
  padding: 10px;
}

.content {
  margin-top: 20px;
}

.image-to-text-guide {
  margin-top: 16px;
  padding: 16px;
  text-align: left;
  background: #f9f9ff;
  border: 1px solid #e6f0ff;
  border-top: 1px solid #f0f0f0;
  border-radius: 12px;

  h4,
  h5 {
    margin-bottom: 8px;
  }

  ul {
    margin: 8px 0 16px 20px;
    padding: 0;
    list-style-type: disc;

    li {
      margin-bottom: 4px;
    }
  }

  p {
    color: #666;
    font-size: 13px;
  }
}
